body
{
  background-size: cover;
  /*background-image:url("bg7.jpg");*/
  background-color: #C5C6D0;
  font-family: "Lato", sans-serif;
  transition: background-color .5s;
}

.name
{
  color: #ffffff;
  padding: 2px 8px 8px 55px;

}
.profile1
{
  width: 150px;
  height: 150px;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 100%;
}

.backdrop
{
  background-image: url("bg6.jpg");
  width:100%;
  background-size: cover;

}

.sidenav
{
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #072F5F;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a
{
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover
{
  color: #f1f1f1;
}

.sidenav .closebtn
{
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main
{
  transition: margin-left .5s;
  padding: 16px;
}

@media screen and (max-height: 450px)
{
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.container
{
  padding: 10px 15px 10px 15px;
  background-color: #E5E5E5;
  position: relative;
  width: 800px;
  margin: 0 auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
  justify-content: center;
}

.container img {vertical-align: middle;}

.container .content
{
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
  bottom:0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 760px;
  padding: 10px 20px 0px 20px;
}

img.about
{
  position: relative;
  float: right;
  width: 30%;
  height: auto;
  margin-right: 40px;
}

.textbox
{
  padding: 10px 10px 10px 10px;
  border-style: solid;
  border-radius: 25px;
  border-color: black;
}

.logobox
{
  padding: 10px 10px 5px 10px;
  border-style: solid;
  border-radius: 25px;
  border-color: black;
  justify-content: center;
}

.fa
{

  font-size: 30px;
  color:black;
  justify-content: center;
}

.logos a:hover
{
  opacity: 0.3
}
